<h1>Search</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 left-container">
            <% @foods.each do |food| %>

                <%= render @foods %>
            <% end %>
        </div>
        </div>
        </div>