<h1>Home</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="left-container">
      <h4>List of foods</h4>
      <div class="panel">
        <ul class="list-group list-group-flush ">
          <% @foods.each do |food| %>
            <li class="list-group-item panel panel-heading"><%= link_to food.dish, food %></li>
          <% end %>
        </ul>
      </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="right-container">
      <h4>List of restaurants</h4>

      <% @restaurants.each do |restaurant| %>
        <li class="list-group-item panel panel-heading"><%= link_to restaurant.name, restaurant %></li>
      <% end %>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>